
<form action="/doctor/lista" method="get">
  <input type="submit" class="btn btn-primary" value="Lista de doctores">
</form>
<br>

<form action="/doctor" method="POST" class="form-horizontal" id="buscardoctor" name="buscardoctor" onsubmit="enviarFormulario(event)">
  <input type="text" name="id" id="id">
  <input type="submit" value="Buscar por cedula" class="btn btn-primary">
</form>
<br>


<form action="/doctor" method="post" class="form-horizontal">
    <div class="form-group">
      <label for="cedula" class="col-sm-2 control-label">Cedula</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="cedula" name="cedula" placeholder="Cedula">
      </div>
    </div>
    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
      </div>
    </div>
    <div class="form-group">
      <label for="apellido" class="col-sm-2 control-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
      </div>
    </div>
    <div class="form-group">
      <label for="consultorio" class="col-sm-2 control-label">Consultorio</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="consultorio" name="consultorio" placeholder="Consultorio">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
      </div>
    </div>
    <label for="especialidad" >Especialidad</label>
    <select class="form-control" id="especialidad" name="especialidad">
        <option value="Medicina General">Medicina General</option>
        <option value="Cardiología">Cardiología</option>
        <option value="Medicina Interna">Medicina Interna</option>
        <option value="Dermatología">Dermatología</option>
        <option value="Rehabilitación Física">Rehabilitación Física</option>
        <option value="psicología">psicología</option>
        <option value="Odontología">Odontología</option>
        <option value="Radiología">Radiología</option>
        </select>
    <br>
    <input type="submit" class="submitformbutton" value="Crear doctor">
</form>
<br>

<h2>Modificar doctor</h2>
<form action="/doctor" method="put" class="form-horizontal">
  <div class="form-group">
    <label for="cedula" class="col-sm-2 control-label">Cedula</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="cedula" name="cedula" placeholder="Cedula">
    </div>
  </div>
  <div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
    </div>
  </div>
  <div class="form-group">
    <label for="apellido" class="col-sm-2 control-label">Apellido</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
    </div>
  </div>
  <div class="form-group">
    <label for="consultorio" class="col-sm-2 control-label">Consultorio</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="consultorio" name="consultorio" placeholder="Consultorio">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <label for="especialidad" >Especialidad</label>
  <select class="form-control" id="especialidad" name="especialidad">
      <option value="Medicina General">Medicina General</option>
      <option value="Cardiología">Cardiología</option>
      <option value="Medicina Interna">Medicina Interna</option>
      <option value="Dermatología">Dermatología</option>
      <option value="Rehabilitación Física">Rehabilitación Física</option>
      <option value="psicología">psicología</option>
      <option value="Odontología">Odontología</option>
      <option value="Radiología">Radiología</option>
      </select>
  <br>
  <input type="submit" class="submitformbutton" value="Modificar doctor">
</form>
<br>



<script>
  function enviarFormulario(event) {
    event.preventDefault(); // Evitar el envío del formulario por defecto

    const cedula = document.getElementsByName('id')[0].value;
    const url = `/doctor/${encodeURIComponent(cedula)}`;

    window.location.href = url; // Redirigir a la URL con el parámetro
}
</script>