<h2>Registro de pacientes</h2><br>
<form action="/paciente" method="post">
    <label for="cedula" >cedula</label>
    <input type="text" name="cedula" id="cedula"> <br>
    <label for="nombre" >nombre</label>
    <input type="text" name="nombre" id="nombre"> <br>
    <label for="apellido" >apellido</label> 
    <input type="text" name="apellido" id="apellido"> <br>
    <label for="edad" >edad</label>
    <input type="text" name="edad" id="edad"> <br>
    <label for="telefono" >telefono</label>
    <input type="text" name="telefono" id="telefono" > <br>
    <button type="submit" class="btn btn-secondary"></button>
</form>
<br>
<form action="/paciente" method="get">
    <input type="submit" class="btn btn-primary" value="ver">
</form>
    <br>
