<div class="container" style="text-align: center;">
    <h1 style="text-align: center;">__________________</h1>
    <a href="/doctor" class="btn btn-primary" style="text-align: center;">
      <span class="fas fa-user-md mr-2"></span>Gestionar doctores
    </a>
    <a href="/cita" class="btn btn-primary" style="text-align: center;">
      <span class="fas fa-calendar-check mr-2"></span>Gestionar citas
    </a>
    <a href="/paciente" class="btn btn-primary" style="text-align: center;">
      <span class="fas fa-user-injured mr-2"></span> Gestionar pacientes
    </a>
  </div>