<form action="frontscript.js" id="login" autocomplete="on" method="post" >
    <h2>Login</h2><br>
    <label for="nombre1" class="labelz">nombre</label>
    <input type="text" id="nombre1" value="nombre"> <br>
    <label for="contrasena1" class="labelz">contraseña</label> 
    <input type="text" id="contrasena1" value="contraseña"> <br>
    <input type="submit" class="submitformbutton" value="Entrar">
</form>